<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
  <strong>Total_Price:</strong>
  <%= @order.total_price %>
  <strong>Customer:</strong>
  <%= @order.customer.name%>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
